<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Welcome</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Esther Maryam Ehlers</h1>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/gallery">Gallery</a></li>
      </ul>
    </nav>
    
    <section>
      <h2>Esther and I have been best friends for 8 years now<br>and have been through some awesome adventures.<br>
      Even though she lives at the North Sea, we can always rely on each other.<br>
    After finishing her studies, Esther will be a teacher for maths and textile crafts.<br>
    She also has her own bag and accessoire brand. Pretty good, huh?</h2>
    </section>


  </body>
</html>