/*
dark olive: #697B43
light olive: #C1D0A2
light purple: #A2AAD0
dark purple: #493189
*/

body {
    background-color: #697B43;
    font-family: 'Bebas Neue', cursive;
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
    margin-top: 20px;
    font-size: 7em;
    color: #493189;
    text-shadow:
    -1px -1px 0 #C1D0A2,
    1px -1px 0 #C1D0A2,
    -1px 1px 0 #C1D0A2,
    1px 1px 0 #C1D0A2;
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 60px;
    font-size: 2.5em;
    color: #493189;
    background-color: #C1D0A2;
    padding: 10px;
    line-height: 1.5em;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 3em;
    background-color: #C1D0A2;
}

nav ul li a {
    border: 4px solid #C1D0A2;
    border-radius: 20px;
    padding: 15px;
    text-decoration: none;
    background-color: #A2AAD0;
    color: #493189;
}

a:hover {
    background-color: #493189;
    color: #A2AAD0;
}

.works {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.works img {
    height: 400px;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery img {
    width: 400px;
    margin: 50px;
}